<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>test</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body class="global">
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>
      $(function() {
        test();
        // test1();
      });

      function test() {
        //文本语义理解
        $.post('index/Index/semanticComprehension',{
          'text' : '明天是多少号'
        },function() {

        })
      }

      function test1() {
        //语音识别 语音转文本
        $.post('index/Index/voiceToText',{
          // 'file' : 'log.txt'
        },function() {

        })
      }
    </script>
</body>
</html>
